*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins" , sans-serif;
}
body{
    background-color: #fff;
    color: #111;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 15px 5%;
    z-index: 1000;
    background-color: #111111;
    display: flex;
    align-items: center;
    column-gap: 139px;
}
.navbar{
    display: flex;

}
.logo{
    width: 75px;
    height: 75px;
}
.navbar a{
    font-size: 20px;
    padding: 10px 22px;
    font-weight: 500;
    color: #F5F5F5;
}
.navbar li:nth-of-type(4) a{
    color: #E9BD8C;
}
.home{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("../image/Frameaprops.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px  ;
}
.home h1{
    font-family:"Sansita Swashed", system-ui;
    font-size: 60px;
    color: #933C24;
}
.aprops{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 70px;
}
.aprops img{
    margin-bottom: 20px;
    width: 216px;
    height: 216px;
}

.aprops h2{
    margin-top: 30px;
    font-size: 34px;
}
.aprops p:nth-of-type(1){
    font-family: "Sansita Swashed", system-ui;
    color: #933C24;
    font-size: 34px;
    font-weight: 500;
    margin-top: 20px;
}
.aprops p:last-child{
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.aprops span{
    color: #933C24;
    font-family: "Sansita Swashed", system-ui;
}