*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    color: #111111;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 15px 5%;
    z-index: 1000;
    display: flex;
    align-items: center;
    column-gap: 139px;
    background-color: #111111;
}
.navbar{
    display: flex;
}
.logo {
    width: 75px;
    height: 75px;
}
.navbar a {
    font-size: 20px;
    padding: 10px 22px;
    font-weight: 500;
    color: #F5F5F5;
}
.navbar li:nth-of-type(3) a {
    color: #E9BD8C;
}
.home{
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 150px; ;
    background-image: url('../image/Rectangle-46.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home h1{
    font-size: 60px;
    font-family: "Sansita Swashed", system-ui;
    color:#933C24 ;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin: 80px auto;
    width: 80%;
}
.card{
    display: flex;
    background-color: #393939;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    padding: 15px ;
    border-radius: 11px;
    height: 200px;

}
.card p{
    text-align: center;
}
.padd{
    row-gap: 40px;
}

.formulaire{
   width: 70%;
   margin: 30px auto;
   background-color: #F6F6F6;
   height: 80vh;
   padding: 20px 200px;
   justify-content: center;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.25);
}
.formulaire h2{
    text-align: center;
    font-family: "Sansita Swashed", system-ui;
    padding-bottom:30px;
}
form{
    display: flex;
    flex-direction: column;
}
form input , textarea{
    margin: 10px 0;
}
form input {
    padding: 10px;
    border-radius: 11px;
}
form input::placeholder , form textarea::placeholder{
    color: #111111;
}
form textarea::placeholder{
    padding:10px 0 0 10px ;
}
textarea{
    height: 90px;
    resize: none;
}
button{
    width: 100px;
    background-color: #933C24;
    color: #F5F5F5;
    padding: 10px 20px;
    border-radius: 9px;
}
.footer {
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 500px;
    background-image: url('../image/Rectangle-75.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content {
    padding: 20px 70px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top>img {
    width: 100px;
    height: 100px;
}

.follow {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-right: 120px;
}

.follow p {
    color: #E9BD8C;
    font-size: 24px;
    font-weight: 500;
}

.social img {
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.yellowLine {
    border: 1px solid #E9BD8C;
}

.aboutExplore {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

.c1 {
    display: flex;
}

.about {
    margin-right: 40px;
}

.about,
.Explore {
    color: #F5F5F5;
}

.about h3,
.Explore h3,
.c2 h3 {
    font-weight: 500;
    color: #E9BD8C;
    font-size: 28px;
}

.about ul li,
.Explore ul li {
    font: bold;
    font-size: 20px;
    margin: 10px 0;
}

.blog {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin-top: 12px;
}

.details .date {
    color: #E9BD8C;
}

.details .desc {
    color: #F5F5F5;
}

.copyright {
    text-align: center;
    position: relative;
    top: 70px;
    color: #737373;
    font-weight: 500;
}